@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Taviraj", serif;
}

.shadow-jutsu {
  box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
  -webkit-box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
  -moz-box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
}

.left-header-admin {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  min-height: 100vh;
  background-color: blueviolet;
}

/* .MuiDialog-container {
  background-color: blue;
} */
/* .MuiDialog-paper {
  background-color: blue !important;
} */
